# This timer unit is for testing
# By David Both
# Licensed under GPL V2
#

[Unit]
Description=Logs some system statistics to the systemd journal


[Timer]
Unit=dynwallb.service
OnCalendar=*-*-* 07:30:00 Asia/Kolkata
Persistent=true

[Install]
WantedBy=timers.target