# This applies the evening colorscheme and wallpaper

[Unit]
Description=Logs system statistics to the systemd journal
Wants=dynwallc.timer

[Service]
Type=oneshot
ExecStart=/home/sametaor/Scripts/DynWalls/scripts/switchwallc.sh
Restart=on-failure
RestartSec=1000ms
RestartSteps=5
RestartMaxDelaySec=100000ms
