# This applies the morning colorscheme and wallpaper

[Unit]
Description=Logs system statistics to the systemd journal
Wants=dynwalla.timer

[Service]
Type=oneshot
ExecStart=/home/sametaor/Scripts/DynWalls/scripts/switchwalla.sh
Restart=on-failure
RestartSec=1000ms
RestartSteps=5
RestartMaxDelaySec=100000ms
